@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

.citySelection__icon:hover i, .endPage__lign a:hover, .mySite__backToMenu:hover {
  transform: scale(1.3);
  color: #99E2D0;
}

.cardRestaurant, .btn {
  box-shadow: 0 0.3rem 0.5rem rgba(51, 51, 51, 0.2);
}
.cardRestaurant:hover, .btn:hover {
  box-shadow: 0 0.4rem 0.5rem rgba(51, 51, 51, 0.3);
}

.displayNone {
  display: none;
}

h1, .logoFont {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  font-weight: initial;
}

h2, h3, p, li {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  font-weight: 200;
}

li {
  font-size: 1rem;
  font-weight: 300;
}

.logoFont {
  font-size: 1.2rem;
}

.btn {
  border: none;
  border-radius: 1.5rem;
}
.btn:hover {
  transform: translate(0, -0.1rem);
}
.btn:active {
  transform: translate(0, 0rem);
  box-shadow: none;
}
.btn__main {
  width: 218px;
  height: 50px;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  color: white;
  font-size: 1rem;
}
.btn__main:hover {
  background: linear-gradient(355deg, #9e67e0, #ff83dd);
}
.btn__tutorial {
  width: 100%;
  height: 75px;
  margin: 0.5rem 0;
  font-size: 1rem;
  position: relative;
  background-color: whitesmoke;
  color: #101010;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}
@media screen and (min-width: 420px) {
  .btn__tutorial {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .btn__tutorial {
    width: 28%;
    padding-right: 0.5rem;
  }
}
.btn__tutorial i {
  margin: 0 1.5rem 0 2rem;
  color: #828282;
}
.btn__tutorial:hover {
  background: #f2eafb;
}
.btn__tutorial:hover > i {
  color: #9356DC;
}
.btn__tutorial::before {
  counter-increment: step 1;
  content: counter(step) " ";
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}

.icon__heart {
  width: 25px;
  height: 25px;
}
.icon__heart--firstColor {
  stop-color: #9356DC;
}
.icon__heart--secondColor {
  stop-color: #FF79DA;
}
.icon__heart--design {
  fill: transparent;
  stroke-width: 1.5rem;
  stroke: #101010;
  transform-origin: 50% 50%;
}
.icon__heart:active .icon__heart--design {
  -webkit-animation: fill-heart 0.5s ease-in-out forwards;
          animation: fill-heart 0.5s ease-in-out forwards;
}
.icon__heart:hover {
  cursor: pointer;
}
.icon__heart:hover path {
  -webkit-animation: bump-heart 0.9s ease-in-out infinite;
          animation: bump-heart 0.9s ease-in-out infinite;
}

@-webkit-keyframes fill-heart {
  0% {
    fill-opacity: 0%;
  }
  30% {
    stroke-width: 0;
  }
  40% {
    fill: url(#heartGradient);
    fill-opacity: 0%;
  }
  100% {
    stroke-width: 0;
    fill: url(#heartGradient);
    fill-opacity: 100%;
  }
}

@keyframes fill-heart {
  0% {
    fill-opacity: 0%;
  }
  30% {
    stroke-width: 0;
  }
  40% {
    fill: url(#heartGradient);
    fill-opacity: 0%;
  }
  100% {
    stroke-width: 0;
    fill: url(#heartGradient);
    fill-opacity: 100%;
  }
}
@-webkit-keyframes bump-heart {
  0% {
    stroke: #9356DC;
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  100% {
    stroke: #9356DC;
    transform: scale(1);
  }
}
@keyframes bump-heart {
  0% {
    stroke: #9356DC;
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  100% {
    stroke: #9356DC;
    transform: scale(1);
  }
}
.cardRestaurant {
  width: 90%;
  max-width: 400px;
  height: 252px;
  margin: 0.6rem;
  border-radius: 0.9rem;
  overflow: hidden;
  position: relative;
  background-color: white;
  color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .cardRestaurant {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .cardRestaurant {
    width: 20%;
  }
}
.cardRestaurant:hover {
  transform: translate(0, -0.3rem) scale(1.05);
}
.cardRestaurant:active {
  transform: translate(0, 0rem);
  box-shadow: none;
}
.cardRestaurant--new::before {
  content: "Nouveau";
  position: absolute;
  right: 0.6rem;
  top: 1rem;
  width: 80px;
  height: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.15rem;
  background-color: #99E2D0;
  color: #278870;
}
.cardRestaurant__image {
  width: 100%;
  height: calc(100% - 75px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.cardRestaurant__info {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1rem;
}
.cardRestaurant__title {
  margin-bottom: 0.3rem;
}

header {
  background-color: white;
  color: #101010;
}

.mySite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.mySite__title {
  margin: 0.6rem;
}
.mySite__backToMenu {
  position: absolute;
  left: 1.5rem;
  color: #333333;
}
.mySite::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(#c2c2c2, #e8e8e8);
}

footer {
  background-color: #333333;
  color: white;
}

.endPage {
  width: 100%;
  padding: 1.5rem;
}
@media screen and (min-width: 420px) {
  .endPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .endPage {
    width: 1100px;
    margin: 0 auto;
  }
}
.endPage__title {
  margin-bottom: 1rem;
}
@media screen and (min-width: 420px) {
  .endPage__title {
    width: 100%;
    text-align: center;
  }
}
.endPage__lign {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 420px) {
  .endPage__lign {
    width: auto;
    text-align: center;
    margin: 0 1rem 1rem 1rem;
  }
}
.endPage__lign i {
  width: 1.6rem;
}
body {
  background-color: white;
}

.citySelection {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.citySelection__chooseBlock {
  margin: 1rem 0;
}
.citySelection__icon {
  font-size: 1.1rem;
  margin-left: 1.1rem;
  color: #333333;
}
.citySelection__customerChoice {
  padding-left: 1rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #e8e8e8;
  border: none;
  font-size: 1rem;
}
.citySelection__customerChoice::-moz-placeholder {
  color: #333333;
}
.citySelection__customerChoice:-ms-input-placeholder {
  color: #333333;
}
.citySelection__customerChoice::placeholder {
  color: #333333;
}

.exploreRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  color: #101010;
  width: 100%;
  height: 280px;
}
@media screen and (min-width: 768px) {
  .exploreRestaurants {
    width: 750px;
    border-radius: 2rem;
    margin: 1rem auto;
  }
}
.exploreRestaurants__title {
  width: 64%;
  text-align: center;
}
.exploreRestaurants__text {
  width: 82%;
  text-align: center;
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: white;
  color: #101010;
  margin: 3rem 1.5rem;
}
@media screen and (min-width: 420px) {
  .tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tutorial__title {
  margin-bottom: 1rem;
}
.tutorial__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  counter-reset: step;
}
@media screen and (min-width: 420px) {
  .tutorial__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .tutorial__buttons {
    width: 1200px;
    margin: 0 auto;
  }
}

.ourRestaurants {
  background-color: whitesmoke;
  color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  .ourRestaurants {
    margin: 1.5rem;
    border-radius: 2rem;
  }
}
.ourRestaurants__title {
  width: 90%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 420px) {
  .ourRestaurants__title {
    text-align: center;
  }
}
.ourRestaurants__selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .ourRestaurants__selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */