@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

.endPage__lign a:hover, .mySite__backToMenu:hover {
  transform: scale(1.3);
  color: #99E2D0;
}

.dish, .cardRestaurant, .btn {
  box-shadow: 0 0.3rem 0.5rem rgba(51, 51, 51, 0.2);
}
.dish:hover, .cardRestaurant:hover, .btn:hover {
  box-shadow: 0 0.4rem 0.5rem rgba(51, 51, 51, 0.3);
}

.displayNone {
  display: none;
}

@-webkit-keyframes textNeon {
  0% {
    color: #99E2D0;
  }
  90% {
    color: #333333;
  }
  100% {
    color: #99E2D0;
  }
}

@keyframes textNeon {
  0% {
    color: #99E2D0;
  }
  90% {
    color: #333333;
  }
  100% {
    color: #99E2D0;
  }
}
@-webkit-keyframes endLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}
@keyframes endLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}
@-webkit-keyframes rotateCircle {
  0% {
    transform: scale(0);
  }
  3% {
    transform: scale(1);
  }
  20%, 33% {
    transform: scale(0);
    background: #FF79DA;
    box-shadow: 0 0 10px #FF79DA, 0 0 20px #FF79DA, 0 0 40px #FF79DA, 0 0 60px #FF79DA;
  }
  36% {
    transform: scale(1);
  }
  53%, 66% {
    transform: scale(0);
    background: #99E2D0;
    box-shadow: 0 0 10px #99E2D0, 0 0 20px #99E2D0, 0 0 40px #99E2D0, 0 0 60px #99E2D0;
  }
  69% {
    transform: scale(1);
  }
  86%, 100% {
    transform: scale(0);
  }
}
@keyframes rotateCircle {
  0% {
    transform: scale(0);
  }
  3% {
    transform: scale(1);
  }
  20%, 33% {
    transform: scale(0);
    background: #FF79DA;
    box-shadow: 0 0 10px #FF79DA, 0 0 20px #FF79DA, 0 0 40px #FF79DA, 0 0 60px #FF79DA;
  }
  36% {
    transform: scale(1);
  }
  53%, 66% {
    transform: scale(0);
    background: #99E2D0;
    box-shadow: 0 0 10px #99E2D0, 0 0 20px #99E2D0, 0 0 40px #99E2D0, 0 0 60px #99E2D0;
  }
  69% {
    transform: scale(1);
  }
  86%, 100% {
    transform: scale(0);
  }
}
@-webkit-keyframes bumpLoader {
  0% {
    stroke: #9356DC;
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1);
  }
  33% {
    stroke: #FF79DA;
  }
  50% {
    transform: scale(0.8);
  }
  66% {
    stroke: #99E2D0;
  }
  70% {
    transform: scale(1);
  }
  100% {
    stroke: #9356DC;
    transform: scale(1);
  }
}
@keyframes bumpLoader {
  0% {
    stroke: #9356DC;
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1);
  }
  33% {
    stroke: #FF79DA;
  }
  50% {
    transform: scale(0.8);
  }
  66% {
    stroke: #99E2D0;
  }
  70% {
    transform: scale(1);
  }
  100% {
    stroke: #9356DC;
    transform: scale(1);
  }
}
@-webkit-keyframes fill-heart {
  0% {
    fill-opacity: 0;
  }
  30% {
    stroke-width: 0;
  }
  40% {
    fill: url(#heartGradient);
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0;
    fill: url(#heartGradient);
    fill-opacity: 1;
  }
}
@keyframes fill-heart {
  0% {
    fill-opacity: 0;
  }
  30% {
    stroke-width: 0;
  }
  40% {
    fill: url(#heartGradient);
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0;
    fill: url(#heartGradient);
    fill-opacity: 1;
  }
}
@-webkit-keyframes bump-heart {
  0% {
    stroke: #9356DC;
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  100% {
    stroke: #9356DC;
    transform: scale(1);
  }
}
@keyframes bump-heart {
  0% {
    stroke: #9356DC;
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  100% {
    stroke: #9356DC;
    transform: scale(1);
  }
}
@-webkit-keyframes checkDish {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-60px);
  }
}
@keyframes checkDish {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-60px);
  }
}
@-webkit-keyframes reduceText {
  0% {
    width: calc(80% + 0px);
  }
  100% {
    width: calc(80% + -60px);
  }
}
@keyframes reduceText {
  0% {
    width: calc(80% + 0px);
  }
  100% {
    width: calc(80% + -60px);
  }
}
@-webkit-keyframes appearanceDish {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appearanceDish {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
h1, .logoFont, .loader__text, .restaurant__title {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  font-weight: initial;
}

h2, h3, h4, p, li {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  font-weight: 200;
}

li, .menuPart__title {
  font-size: 1rem;
  font-weight: 300;
}

.logoFont {
  font-size: 1.2rem;
}

.loader__text {
  font-size: 1.5rem;
  letter-spacing: -0.15rem;
}

.restaurant__title {
  font-size: 1.75rem;
}

.dish__price--amount {
  font-size: 0.92rem;
  font-weight: 500;
}

.dish__name--title {
  font-size: 1.12rem;
  font-weight: 500;
}

.dish__name--side {
  font-size: 0.92rem;
  font-weight: 300;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 1.5rem;
}
.btn:hover {
  transform: translate(0, -0.1rem);
}
.btn:active {
  transform: translate(0, 0rem);
  box-shadow: none;
}
.btn__main {
  width: 218px;
  height: 50px;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  color: white;
  font-size: 1rem;
}
.btn__main:hover {
  background: linear-gradient(355deg, #9e67e0, #ff83dd);
  cursor: pointer;
}
.btn__tutorial {
  width: 100%;
  height: 75px;
  margin: 0.5rem 0;
  font-size: 1rem;
  position: relative;
  background-color: whitesmoke;
  color: #101010;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}
@media screen and (min-width: 420px) {
  .btn__tutorial {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .btn__tutorial {
    width: 28%;
    padding-right: 0.5rem;
  }
}
.btn__tutorial i {
  margin: 0 1.5rem 0 2rem;
  color: #828282;
}
.btn__tutorial:hover {
  background: #f2eafb;
}
.btn__tutorial:hover > i {
  color: #9356DC;
}
.btn__tutorial::before {
  counter-increment: step 1;
  content: counter(step) " ";
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}

.icon__heart {
  width: 25px;
  height: 25px;
}
.icon__heart--firstColor {
  stop-color: #9356DC;
}
.icon__heart--secondColor {
  stop-color: #FF79DA;
}
.icon__heart--design {
  fill: transparent;
  stroke-width: 1.5rem;
  stroke: #101010;
  transform-origin: 50% 50%;
}
.icon__heart:active .icon__heart--design {
  -webkit-animation: fill-heart 0.5s ease-in-out forwards;
          animation: fill-heart 0.5s ease-in-out forwards;
}
.icon__heart:hover {
  cursor: pointer;
}
.icon__heart:hover path {
  -webkit-animation: bump-heart 0.9s ease-in-out infinite;
          animation: bump-heart 0.9s ease-in-out infinite;
}

.cardRestaurant {
  width: 90%;
  max-width: 400px;
  height: 252px;
  margin: 0.6rem;
  border-radius: 0.9rem;
  overflow: hidden;
  position: relative;
  background-color: white;
  color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .cardRestaurant {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .cardRestaurant {
    width: 20%;
  }
}
.cardRestaurant:hover {
  transform: translateY(-3px) scale(1.01);
}
.cardRestaurant:active {
  transform: translate(0, 0rem);
  box-shadow: none;
}
.cardRestaurant--new::before {
  content: "Nouveau";
  position: absolute;
  right: 0.6rem;
  top: 1rem;
  width: 80px;
  height: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.15rem;
  background-color: #99E2D0;
  color: #278870;
}
.cardRestaurant__image {
  width: 100%;
  height: calc(100% - 75px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.cardRestaurant__info {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1rem;
}
.cardRestaurant__title {
  margin-bottom: 0.3rem;
}

header {
  background-color: white;
  color: #101010;
}

.mySite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.mySite__title {
  margin: 0.6rem;
}
.mySite__backToMenu {
  position: absolute;
  left: 1.5rem;
  color: #333333;
}
.mySite::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(#c2c2c2, #e8e8e8);
}

footer {
  background-color: #333333;
  color: white;
}

.endPage {
  width: 100%;
  padding: 1.5rem;
}
@media screen and (min-width: 420px) {
  .endPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .endPage {
    width: 1100px;
    margin: 0 auto;
  }
}
.endPage__title {
  margin-bottom: 1rem;
}
@media screen and (min-width: 420px) {
  .endPage__title {
    width: 100%;
    text-align: center;
  }
}
.endPage__lign {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 420px) {
  .endPage__lign {
    width: auto;
    text-align: center;
    margin: 0 1rem 1rem 1rem;
  }
}
.endPage__lign i {
  width: 1.6rem;
}
.restaurant {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant__image {
  width: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin-bottom: -50px;
}
@media screen and (min-width: 768px) {
  .restaurant__image {
    max-width: 1200px;
  }
}
.restaurant__menu {
  position: relative;
  width: 100%;
  padding: 1.8rem 1.2rem 1.8rem 1.2rem;
  border-radius: 2.8rem 2.8rem 0 0;
  background-color: whitesmoke;
  color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 420px) {
  .restaurant__menu {
    max-width: 550px;
    border-radius: 2.8rem;
    margin: 0 auto 3rem auto;
  }
}
@media screen and (min-width: 768px) {
  .restaurant__menu {
    max-width: 1100px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 2.8rem;
    margin: 0 auto 3rem auto;
  }
}
.restaurant__name {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 420px) {
  .restaurant__title {
    width: 100%;
    text-align: center;
  }
}
.restaurant__order {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 2.5rem 0;
}

.menuPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .menuPart {
    width: 31%;
  }
}
.menuPart__name {
  width: 100%;
  margin-bottom: 1.3rem;
}
.menuPart__name::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 3px;
  margin-top: 0.5rem;
  background: #99E2D0;
}
@media screen and (min-width: 420px) and (max-width: 768px) {
  .menuPart__name {
    text-align: center;
  }
  .menuPart__name::after {
    transform: translateX(-21px);
  }
}

.dish {
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 100%;
  background-color: white;
  color: #101010;
  margin: 0.5rem auto;
  padding: 0.7rem 0.7rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: appearanceDish 1s ease-in-out backwards;
          animation: appearanceDish 1s ease-in-out backwards;
}
.dish:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.dish:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.dish:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.dish:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.dish:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.dish:hover {
  transform: translateY(-3px) scale(1.01);
}
.dish:active {
  transform: scale(1);
  box-shadow: none;
}
.dish:active > .dish__price {
  -webkit-animation: checkDish 0.4s ease-out forwards;
          animation: checkDish 0.4s ease-out forwards;
}
.dish:active > .dish__selection {
  -webkit-animation: checkDish 0.4s ease-out forwards;
          animation: checkDish 0.4s ease-out forwards;
}
.dish:active > .dish__selection > .dish__selection--icon {
  transform: rotate(720deg);
}
.dish:active > .dish__name {
  -webkit-animation: reduceText 0.4s ease-out forwards;
          animation: reduceText 0.4s ease-out forwards;
}
.dish__name {
  width: 80%;
}
.dish__name--title {
  margin-bottom: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__name--side {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__price {
  width: 15%;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.dish__price--amount {
  margin-top: 1.6rem;
}
.dish__selection {
  width: 60px;
  height: 100%;
  position: absolute;
  right: -60px;
  background: #99E2D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dish__selection--icon {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.4s;
  transform: rotate(-180deg);
}
.dish__selection--icon::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 13px;
  width: 8px;
  height: 3px;
  border-radius: 1px;
  background-color: #99E2D0;
  transform-origin: right;
  transform: rotate(45deg);
}
.dish__selection--icon::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 10px;
  width: 14px;
  height: 3px;
  border-radius: 1px;
  background-color: #99E2D0;
  transform-origin: left;
  transform: rotate(-45deg);
}/*# sourceMappingURL=secondary.css.map */