//Choose background color and Text Color automatic (depend of background-color)//

@mixin bg_textColor($textColor : $colorAdd_main){

    background-color: $textColor;

    @if ( lightness($textColor) > 70% ) {
        $textColor: #101010;
    }@else{
        $textColor: white;
    }
        color: $textColor;
}