//Couleur du texte automatique en fonction du fond

@mixin textColor($color : $bgColor){
    @if ( lightness($color) > 50% ) {
        $color: #101010;
    }@else{
        $color: white
    }
        color: $color;
}

