//* Graphical charter : Color

$colorPrimary:  #9356DC;
$colorSecondary:  #FF79DA;
$colorTertiary:  #99E2D0;

//Additional colors
$colorAdd_main:rgb(255, 255, 255);
$colorAdd_light:darken($colorAdd_main,4%);
$colorAdd_dark:darken($colorAdd_main,9%);
$colorAdd_darkest:darken($colorAdd_main,80%);

//!NOTA : For text color, see in _mixins.scss //


