body{
    background-color: $bgColor;
}

#citySelection{
    background-color: $bgColor-mainDark;

}

#exploreRestaurants{
    background-color: $bgColor-mainLight;
}

#siteTutorial{
    background-color: $bgColor-main;
}

#restaurantsSelection{
    background-color: $bgColor-mainLight;
}

