body{
    background-color: $bgColor;
}

#citySelection{
    background-color: $bgColor;
}

#exploreRestaurants{
    background-color: $bgColor;
}

#siteTutorial{
    background-color: $bgColor;
}

#restaurantsSelection{
    background-color: $bgColor;
}

