//import font : Shrikhand
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
//import font : Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Associations par défaut des polices


h1, .logoFont{
    font-family: 'Shrikhand', cursive, Arial, Helvetica, sans-serif;
    font-weight: initial;
}

h2, h3, p, li{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 1.9rem;
}

h2 {
    font-size: 1.5rem;
    font-weight:bold;
}

h3{
    font-size: 1.1rem;
    font-weight:bold;
}

p{
    font-size: 1.1rem;
    font-weight:200;
}

li{
    font-size: 1rem;
    font-weight:300;
}

.logoFont{
    font-size: 1.2rem;
}
