.endPage{
  width: 100%;
  padding: 1.5rem;
  @include bg_textColor($colorAdd_darkest);
  &__title{
    margin-bottom: 1rem;
  }
  &__lign{
    margin-bottom: 0.5rem;
    i {
      width: 1.6rem;
    }
    a:hover {
      @extend %basicHover;
    }
  }
}
 